{% extends 'base.html.twig' %}

{% block title %}Deposit List{% endblock %}

{% block pageheader %}
    <h1>Deposit List</h1>
    <p class="count">
        Displaying {{ deposits|length }} deposits of {{ deposits.getTotalItemCount }} total. The most recent deposits are shown first.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('deposit_search', { 'plnId': pln.id }) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Uuid</th>
                <th>Title</th>
                <th>Agreement</th>
                <th>Date Deposited</th>
            </tr>
        </thead>
        <tbody>
            {% for deposit in deposits %}
                <tr>
                    <td>
                        <a href="{{ path('deposit_show', { 'id': deposit.id, 'plnId': pln.id }) }}">
                            {{ deposit.uuid }}
                        </a><br/>
                    </td>
                    <td>{{ deposit.title }}</td>
                    <td>{{ deposit.agreement|format_number(style='percent') }}</td>
                    <td>{{ deposit.dateDeposited|date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(deposits) }}
    </div>

{% endblock %}
