{% extends 'base.html.twig' %}

{% block title %}Deposit{% endblock %}

{% block pageheader %}
    <h1>Deposit</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('deposit_index', {'plnId': pln.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Uuid</th>
                <td>{{ deposit.uuid }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>
                    <a href="{{ deposit.url }}">
                        {{ deposit.url }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ deposit.title }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{% embed 'AppBundle:partial:size.html.twig' with {bytes: deposit.size} %}{% endembed %}</td>
            </tr>
            <tr>
                <th>Agreement</th>
                <td>{{ deposit.agreement*100 }}%</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ deposit.summary }}</td>
            </tr>
            <tr>
                <th>Checksum Type</th>
                <td>{{ deposit.checksumType }}</td>
            </tr>
            <tr>
                <th>SWORD Statement</th>
                <td>
                    <a href="{{ path('sword_statement', {'providerUuid': deposit.contentProvider.uuid, 'depositUuid': deposit.uuid}) }}">
                        {{ url('sword_statement', {'providerUuid': deposit.contentProvider.uuid, 'depositUuid': deposit.uuid}) }}
                    </a>
                </td>
            <tr>
                <th>Checksum Value</th>
                <td>{{ deposit.checksumValue }}</td>
            </tr>
            <tr>
                <th>Date Deposited</th>
                <td>{{ deposit.dateDeposited|date }}</td>
            </tr>
            <tr>
                <th>Au</th>
                <td>
                    <a href="{{ path('au_show', { 'id': deposit.au.id, 'plnId': pln.id }) }}">
                        {{ deposit.au }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Content Provider</th>
                <td>
                    <a href="{{ path('content_provider_show', { 'id': deposit.contentProvider.id}) }}">
                        {{ deposit.contentProvider }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>User</th>
                <td>
                    {% if deposit.user %}
                        <a href="{{ path('user_show', { 'id': deposit.user.id}) }}">
                            {{ deposit.user }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if deposit.properties | length > 0 %}
        <h2>Deposit Properties</h2>
        <dl class="dl-horizontal">
            {% for key in deposit.properties %}
                <dt>{{ key }}</dt>
                <dd>{{ deposit.getProperty(key) }}</dd>
            {% endfor %}
        </dl>
    {% endif %}

    {% if deposit.status | length > 0 %}
        <h2>Status</h2>
        <ul>
            {% for status in deposit.status %}
                <li>
                    <a href="{{ path("deposit_status_show", {"id":status.id, 'plnId': pln.id, 'depositId': deposit.id}) }}">
                        {{ status }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
