{% extends 'base.html.twig' %}

{% block title %}BoxStatus List{% endblock %}

{% block pageheader %}
    <h1>BoxStatus List</h1>
    <p class="count">
        Displaying {{ boxStatuses|length }} boxStatuses of {{ boxStatuses.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('box_status_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
            <a href="{{ path('box_status_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Query Date</th>
                <th>Success</th>
                <th>Errors</th>
            </tr>
        </thead>
        <tbody>
            {% for boxStatus in boxStatuses %}
                <tr>
                    <td>
                        <a href="{{ path('box_status_show', { 'id': boxStatus.id }) }}">
                            {{ boxStatus.queryDate }}
                        </a>
                    </td>
                    <td>{% if boxStatus.success %}Yes{% else %}No{% endif %}</td>
                    <td>{{ boxStatus.errors }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(boxStatuses) }}
    </div>

{% endblock %}
