{% extends 'base.html.twig' %}

{% macro plugin_props(props) %}
    {% import _self as macros %}
    <ul>
        {% for prop in props %}
            <li>{{ prop.propertyKey }}:
                {% if prop.hasChildren() %}
                    {{ macros.plugin_props(prop.children) }}
                {% else %}
                    {% if prop.propertyValue is iterable %}
                        <ul>
                            {% for v in prop.propertyValue %}
                                <li>{{ v }} </li>
                                {% endfor %}
                        </ul>
                    {% else %}
                        {{ prop.propertyValue }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block title %}Plugin{% endblock %}

{% block pageheader %}
    <h1>Plugin</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('plugin_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            <a href="{{ path('plugin_edit', {'id': plugin.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ plugin.name }}</td>
            </tr>
            <tr>
                <th>Generate Manifests</th>
                <td>{% if plugin.generateManifests %} Yes {% else %} No {% endif %}</td>
            </tr>
            <tr>
                <th>Generated Parameters</th>
                <td>
                    {% if plugin.generatedParams | length %}
                        <ul>
                            {% for name in plugin.generatedParams %}
                                <li>{{ name }}</li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ plugin.path }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ plugin.filename }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ plugin.version }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ plugin.identifier }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if plugin.created %}{{ plugin.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if plugin.updated %}{{ plugin.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    {% if plugin.aus | length > 0 %}
        <h2>Aus</h2>
        <ul>
            {% for au in plugin.aus %}
                <li>
                    <a href="{{ path("au_show", {"id":au.id, 'plnId': au.pln.id}) }}">
                        {{ au }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if plugin.contentProviders | length > 0 %}
        <h2>Contentproviders</h2>
        <ul>
            {% for provider in plugin.contentProviders %}
                <li>
                    <a href="{{ path("content_provider_show", {"id":provider.id}) }}">
                        {{ provider }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if plugin.pluginProperties | length > 0 %}
        <h2>All Plugin Properties</h2>
        {% import _self as macros %}
        {{ macros.plugin_props(plugin.rootPluginProperties) }}

    {% endif %}
{% endblock %}
