{% extends 'base.html.twig' %}

{% block title %}Au List{% endblock %}

{% block pageheader %}
    <h1>Au List</h1>
    <p class="count">
        Displaying {{ aus|length }} aus of {{ aus.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>AU</th>
                <th>Open</th>
                <th>Size</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for au in aus %}
                <tr>
                    <td>
                        <a href="{{ path('au_show', { 'id': au.id, 'plnId': pln.id }) }}">
                            {{ au.id }}
                        </a>
                    </td>
                    <td>{% if au.open %} Yes {% else %} No {% endif %}</td>
                    <td>
                        {% embed 'AppBundle:partial:size.html.twig' with {bytes: manager.auSize(au)} %}
                        {% endembed %}
                    </td>
                    <td>{{ au.comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(aus) }}
    </div>

{% endblock %}
