{% extends 'base.html.twig' %}

{% macro plugin_props(props) %}
    {% import _self as macros %}
    <ul>
        {% for prop in props %}
            <li>{{ prop.propertyKey }}:
                {% if prop.hasChildren() %}
                    {{ macros.plugin_props(prop.children) }}
                {% else %}
                    {% if prop.propertyValue is iterable %}
                        <ul>
                            {% for v in prop.propertyValue %}
                                <li>{{ v }} </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ prop.propertyValue }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block title %}Au{% endblock %}

{% block pageheader %}
    <h1>Au</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('au_index', {'plnId': pln.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Open</th>
                <td>{% if au.open %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ au.size }}</td>
            </tr>
            <tr>
                <th>Auid</th>
                <td>{{ au.auid }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ au.comment }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if au.created %}{{ au.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if au.updated %}{{ au.updated|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Pln</th>
                <td>
                    <a href="{{ path('pln_show', { 'id': au.pln.id}) }}">
                        {{ au.pln }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Content Provider</th>
                <td>
                    <a href="{{ path('content_provider_show', { 'id': au.contentProvider.id}) }}">
                        {{ au.contentProvider }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Plugin</th>
                <td>
                    <a href="{{ path('plugin_show', { 'id': au.plugin.id}) }}">
                        {{ au.plugin }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    {% if au.auProperties | length > 0 %}
        <h2>All Plugin Properties</h2>
        {% import _self as macros %}
        {{ macros.plugin_props(au.rootAuProperties) }}
    {% endif %}

    {% if au.auStatus | length > 0 %}
        <h2>Au Status</h2>
        <ul>
            {% for auStatus in au.auStatus %}
                <li>
                    <a href="{{ path("au_status_show", {"id":auStatus.id, 'plnId': pln.id, 'auId': au.id }) }}">
                        {{ auStatus }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if au.content | length > 0 %}
        <h2>Content</h2>
        <ul>
            {% for content in au.content %}
                <li>
                    <a href="{{ path("deposit_content_show", {"id":content.id, 'plnId': pln.id, 'depositId': content.deposit.id }) }}">
                        {{ content }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
