{% extends 'base.html.twig' %}

{% block title %}BoxStatus{% endblock %}

{% block pageheader %}
    <h1>BoxStatus</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('box_status_index', {'plnId': pln.id, 'boxId': box.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Query Date</th>
                <td>{{ boxStatus.created|date }}</td>
            </tr>
            <tr>
                <th>Success</th>
                <td>{% if boxStatus.success %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Errors</th>
                <td>{{ boxStatus.errors }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if boxStatus.created %}{{ boxStatus.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if boxStatus.updated %}{{ boxStatus.updated|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Box</th>
                <td>
                    <a href="{{ path('box_show', { 'id': boxStatus.box.id, 'plnId': pln.Id}) }}">
                        {{ boxStatus.box }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    {% if boxStatus.data | length > 0 %}
        <h2>Cache Status</h2>
        <p>This box reported {{ boxStatus.data|length }} cache(s).</p>
        {% for data in boxStatus.data %}
            {{ dump(data) }}
            <dl>
                {% for key in data|keys|sort %}
                    <dt>{{ key }}</dt>
                    <dd>{{ data[key] }}</dd>
                {% endfor %}
            </dl>
        {% endfor %}
    {% endif %}

{% endblock %}
