{% extends 'base.html.twig' %}

{% block title %}Pln{% endblock %}

{% block pageheader %}
    <h1>{{ pln.name }} Property List</h1>
    <p>
        The properties listed below are managed by LOCKSSOMatic. Any changes to them will be lost when the 
        configuration files are written.
    </p>
    <ul>
        <li>org.lockss.id.initialV3PeerList</li>
        <li>org.lockss.titleDbs</li>
        <li>org.lockss.plugin.registries</li>
        <li>org.lockss.plugin.keystore.location</li>
        <li>org.lockss.ui.users.lockssuser</li>
        <li>org.lockss.contentui.start</li>
        <li>org.lockss.contentui.port</li>
    </ul>
    <p>Any of the 
        <a href="http://www.lockss.org/lockssdoc/gamma/daemon/paramdoc.html">LOCKSS 
            Configuration Parameters</a> are allowed.
    </p>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('pln_property_new', {'plnId': pln.id}) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Property Key</th>
                <th>Property Value</th>
                <th id="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for key, values in pln.properties %}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {% if values is iterable %}
                            {% if values | length > 1 %}
                                <ul>
                                    {% for v in values %}
                                        <li>
                                            {{ v }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ values[0] }}
                            {% endif %}
                        {% else %}
                            {{ values }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-toolbar">
                            <div class="btn-group pull-right">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('pln_property_edit', {'plnId': pln.id, 'propertyKey': key}) }}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a href="{{ path('pln_property_delete', {'plnId': pln.id, 'propertyKey': key}) }}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
