{% extends 'base.html.twig' %}

{% block title %}AuProperty{% endblock %}

{% block pageheader %} 
    <h1>AuProperty</h1>
{% endblock %} 

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('pln_au_property_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('pln_au_property_edit', { 'id': auProperty.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit
                </a>
                <a href="{{ path('pln_au_property_delete', { 'id': auProperty.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this AuProperty?">
                    <span class='glyphicon glyphicon-remove'></span> Delete
                </a>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Property Key</th>
                <td>{{ auProperty.propertyKey }}</td>
            </tr>
            <tr>
                <th>Property Value</th>
                <td>{{ auProperty.propertyValue }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if auProperty.created %}{{ auProperty.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if auProperty.updated %}{{ auProperty.updated|date }}{% endif %}</td>
            </tr>        
            <tr>
                <th>Parent</th>
                <td>
                    <a href="{{ path('parent_show', { 'id': auProperty.parent.id}) }}">
                        {{ auProperty.parent }}
                    </a>
                </td>
            </tr>        
            <tr>
                <th>Au</th>
                <td>
                    <a href="{{ path('au_show', { 'id': auProperty.au.id}) }}">
                        {{ auProperty.au }}
                    </a>
                </td>
            </tr>        
        </tbody>
    </table>
    {% if auProperty.children | length > 0 %}    
        <h2>Children</h2>
        <ul>
            {% for children in auProperty.children %}
                <li>
                    <a href="{{ path("children_show", {"id":children.id}) }}">
                        {{ children }}
                    </a>
                </li>
            {% endfor %} 
        </ul>
    {% endif %}
{% endblock %}
