{% extends 'base.html.twig' %}

{% block title %}CacheStatus List{% endblock %}

{% block pageheader %}
    <h1>CacheStatus List</h1>
    <p class="count">
        Displaying {{ cacheStatuses|length }} cacheStatuses of {{ cacheStatuses.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('box_cache_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
            <a href="{{ path('box_cache_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>
            {% for cacheStatus in cacheStatuses %}
                <tr>
                    <td>
                        <a href="{{ path('box_cache_show', { 'id': cacheStatus.id }) }}">
                            {{ cacheStatus.response }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(cacheStatuses) }}
    </div>

{% endblock %}
