{% extends 'base.html.twig' %}

{% block title %}AuStatus List{% endblock %}

{% block pageheader %}
    <h1>AuStatus List</h1>
    <p class="count">
        Displaying {{ auStatuses|length }} auStatuses of {{ auStatuses.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Query Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for auStatus in auStatuses %}
                <tr>
                    <td>
                        <a href="{{ path('au_status_show', { 'id': auStatus.id, 'plnId': pln.id, 'auId': au.id }) }}">
                            {{ auStatus.created|date }}
                        </a>
                    </td>
                    <td>
                        {{ auStatus.status|keys|length }} hosts reported.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(auStatuses) }}
    </div>

{% endblock %}
