{% extends 'base.html.twig' %}

{% block title %}AuStatus{% endblock %}

{% block pageheader %}
    <h1>AuStatus</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('au_status_index', {'plnId': pln.id, 'auId': au.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Query Date</th>
                <td>{{ auStatus.created|date }}</td>
            </tr>
            <tr>
                <th>Errors</th>
                <td>
                    {% if auStatus.errors %}
                        <ul>
                            {% for error in auStatus.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                        </ul>
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if auStatus.created %}{{ auStatus.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if auStatus.updated %}{{ auStatus.updated|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Au</th>
                <td>
                    <a href="{{ path('au_show', { 'id': auStatus.au.id, 'plnId': pln.id}) }}">
                        {{ auStatus.au }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Details</h2>
    {% for host, details in auStatus.status %}
        <h3>{{ host }}</h3>
        <dl class="dl-horizontal">
            {% for key,value in details %}
                <dt>{{ key }}</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
    {% endfor %}

{% endblock %}
