<entry xmlns="http://www.w3.org/2005/Atom"
       xmlns:sword="http://purl.org/net/sword/"
       xmlns:lom="http://lockssomatic.info/SWORD2">
    <sword:treatment>
        Content URLs deposited to {{ deposit.contentProvider.pln }}, collection {{ provider.name }}.
    </sword:treatment>
    <!-- Edit-IRI -->
    <link rel="edit" href="{{ url('sword_edit', { 'providerUuid': provider.uuid, 'depositUuid': deposit.uuid } ) }}" />
    <content src="{{ url('sword_reciept', {'providerUuid': provider.uuid, 'depositUuid': deposit.uuid}) }}"/>
    <title>{{ deposit.title }}</title>
    <id>urn:uuid:{{ deposit.uuid }}</id>
    <updated>{{ deposit.dateDeposited|date('Y-m-d H:i:s') }}</updated>
    <lom:content size="{{ deposit.size }}" checksumType=" {{ deposit.checksumType }}" checksumValue="{{ deposit.checksumValue }}">{{ deposit.url }}</lom:content>
</entry>
