{% extends 'base.html.twig' %}

{% block title %}DepositStatus List{% endblock %}

{% block pageheader %}
    <h1>DepositStatus List</h1>
    <p class="count">
        Displaying {{ depositStatuses|length }} depositStatuses of {{ depositStatuses.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Agreement</th>
                <th>Query Date</th>
            </tr>
        </thead>
        <tbody>
            {% for depositStatus in depositStatuses %}
                <tr>
                    <td>
                        <a href="{{ path('deposit_status_show', { 'id': depositStatus.id, 'depositId': deposit.id, 'plnId': pln.id }) }}">
                            {{ depositStatus.agreement }}
                        </a>
                    </td>
                    <td>{% if depositStatus.queryDate %}{{ depositStatus.queryDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(depositStatuses) }}
    </div>

{% endblock %}
