{% extends 'base.html.twig' %}

{% block title %}DepositStatus{% endblock %}

{% block pageheader %}
    <h1>DepositStatus</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('deposit_status_index', {'plnId': pln.id, 'depositId': deposit.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Agreement</th>
                <td>
                    {{ depositStatus.agreement * 100 }}%
                </td>
            </tr>
            <tr>
                <th>Query Date</th>
                <td>{{ depositStatus.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if depositStatus.updated %}{{ depositStatus.updated|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deposit</th>
                <td>
                    <a href="{{ path('deposit_show', { 'id': depositStatus.deposit.id, 'plnId': pln.id}) }}">
                        {{ depositStatus.deposit }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Details</h2>
    <dl class="dl-horizontal">
        <dt>Expected</dt>
        <dd>{{ depositStatus.deposit.checksumValue }}</dd>
        {% for hostname, agreement in depositStatus.status %}
            <dt>{{ hostname }}</dt>
            <dd>{{ agreement }}</dd>
        {% endfor %}
    </dl>

{% endblock %}
